h1 {
  margin: 0;
  padding: 10px;
  font-size: 35px;
}

mat-form-field {
  width: 100%;
}

.footer {
  height: 50px;
}

.footer > div > p {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer > div > p > a {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer > div > p:hover {
  background-color: gray;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .footer > div > p {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
    color: white;
  }

  .footer > div > p > a {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
    color: white;
  }

  h1 {
    font-size: 20px;
  }
}

